/* Hero Section */
.sneaker-section {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 50px;
    background-color: #EDF4EA;
    height: 85vh;
  }
  
  .sneaker-text {
    max-width: 822px;
  }
  
  .sneaker-text h1 {
    max-width: 722px;
    font-size: 4rem;
    font-weight: bold;
    color: #1F4320;
    margin-bottom: 20px;
  }
  
  .sneaker-text p {
    font-size: 1.25rem;
    color: #3C843F;
    margin-bottom: 30px;
  }
  
  .explore-button {
    width: 242px;
    height: 4rem;
    background-color: #397B3C;
    color: #fff;
    font-size: 1.5rem;
    border: none;
    cursor: pointer;
    border-radius: 6px;
    text-transform: uppercase;
  }
  
  .explore-button a {
    text-decoration: none;
    color: inherit;
  }
  
  .sneaker-image img {
    margin-top: 135px;
    width: 600px;
    height: 720px;
    object-fit: cover;
  }
  
  /* 768px breakpoint */
  @media (max-width: 768px) {
    .sneaker-section {
      flex-direction: column;
      padding: 20px;
      height: auto;
    }
  
    .sneaker-image img {
        height: 400px;
      margin-top: -20px;
      width: 100%;
    }
  
    .sneaker-text {
      margin-top: 12px;
      margin-top: -100px;
      max-width: none;
      text-align: center;
    }
  
    .sneaker-text h1 {
      font-size: 3rem;
    }
  
    .sneaker-text p {
      font-size: 1.3rem;
    }
  
    .explore-button {
      padding: 10px 20px;
      font-size: 0.9rem;
    }
  }
  
  /* 414px breakpoint */
  @media (max-width: 450px) {
    .sneaker-section {
        height: 90vh;
    }
    .sneaker-text h1 {
      font-size: 3rem;
      text-align: left;
    }
  
    .sneaker-text p {
      font-size: 1.25rem;
      text-align: left;
    }
  
    .sneaker-image img {
        height: 255px;
      margin-top: -20px;
    }
  
    .explore-button {
      padding: 8px 16px;
      font-size: 0.8rem;
    }
  }
  
  /* 412px breakpoint */
  @media (max-width: 412px) {
    .sneaker-section {
        height: 90vh;
    }
    .sneaker-text h1 {
        padding-top: 25px;
      font-size: 3rem;
      text-align: left;
      line-height: 56px;
    }
  
    .sneaker-text p {
      font-size: 1.25rem;
      text-align: left;
    }
  
    .sneaker-image img {
        height: 255px;
      margin-top: -20px;
    }
  
    .explore-button {
      padding: 8px 16px;
      font-size: 0.8rem;
    }
  }
  
  /* 375px breakpoint */
  @media (max-width: 375px) {
    .sneaker-section {
        height: auto;
    }
    .sneaker-text{
        padding-top: 10px;
    }
    .sneaker-text h1 {
        padding-top: 30px;
        line-height: 56px;
        font-size: 3rem;
        text-align: left;
    }
  
    .sneaker-image img {
        height: 255px;
        margin-top: -20px;
    }
  
    .sneaker-text p {
        font-size: 1.25rem;
        text-align: left;
        line-height: 24px;
    }
  
    .explore-button {
        padding: 8px 16px;
        font-size: 0.8rem;
    }
  }
  